# Directories
.vs/
.vscode/
Scripts/__pycache__/
Debug-windows-x86_64/
Release-windows-x86_64/
Dist-windows-x86_64/
bin/
bin-int/
bin-obj/
build/
builds/
HighLo/vendor/VulkanSDK/
HighLoEdit/Resources/Scripts/Intermediates
HighLoEdit/Resources/Scripts/**.pdb
!HighLoEdit/Resources/Scripts/HighLo-CSharp.dll
HighLoEdit/Resources/Scripts/HighLo-C#.dll
!vendor/bin/
Sandbox/assets
HighLoEdit/assets
HighLoEdit/editorconfig.ini

# Visual Studio and IntelliJ files
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.csproj.user
.idea/

# java build files and gradle files
.gradle/

# Others
*.log

lfs/
hooks/
__pycache__/

