[submodule "HighLo/vendor/glm"]
	path = HighLo/vendor/glm
	url = https://github.com/HighLo-Engine/glm
[submodule "HighLo/vendor/glfw"]
	path = HighLo/vendor/glfw
	url = https://github.com/HighLo-Engine/glfw
[submodule "HighLo/vendor/assimp"]
	path = HighLo/vendor/assimp
	url = https://github.com/HighLo-Engine/assimp
[submodule "HighLo/vendor/spdlog"]
	path = HighLo/vendor/spdlog
	url = https://github.com/HighLo-Engine/spdlog
[submodule "HighLo/vendor/SPIRV-Cross"]
	path = HighLo/vendor/SPIRV-Cross
	url = https://github.com/HighLo-Engine/SPIRV-Cross
[submodule "HighLo/vendor/glslang"]
	path = HighLo/vendor/glslang
	url = https://github.com/HighLo-Engine/glslang
[submodule "HighLo/vendor/shaderc"]
	path = HighLo/vendor/shaderc
	url = https://github.com/HighLo-Engine/shaderc
