[submodule "HighLo/vendor/glm"]
	path = HighLo/vendor/glm
	url = https://github.com/HighLo-Engine/glm
	ignore = dirty
[submodule "HighLo/vendor/glfw"]
	path = HighLo/vendor/glfw
	url = https://github.com/HighLo-Engine/glfw
	ignore = dirty
[submodule "HighLo/vendor/assimp"]
	path = HighLo/vendor/assimp
	url = https://github.com/HighLo-Engine/assimp
	ignore = dirty
[submodule "HighLo/vendor/spdlog"]
	path = HighLo/vendor/spdlog
	url = https://github.com/HighLo-Engine/spdlog
	ignore = dirty
[submodule "HighLo/vendor/SPIRV-Cross"]
	path = HighLo/vendor/SPIRV-Cross
	url = https://github.com/HighLo-Engine/SPIRV-Cross
	ignore = dirty
[submodule "HighLo/vendor/glslang"]
	path = HighLo/vendor/glslang
	url = https://github.com/HighLo-Engine/glslang
	ignore = dirty
[submodule "HighLo/vendor/shaderc"]
	path = HighLo/vendor/shaderc
	url = https://github.com/HighLo-Engine/shaderc
	ignore = dirty
[submodule "HighLo/vendor/openssl"]
	path = HighLo/vendor/openssl
	url = https://github.com/HighLo-Engine/openssl
	ignore = dirty
[submodule "HighLo/vendor/HighLo-Unit"]
	path = HighLo/vendor/HighLo-Unit
	url = https://github.com/HighLo-Engine/HighLo-Unit
	ignore = dirty
[submodule "HighLo/vendor/ImGui"]
	path = HighLo/vendor/ImGui
	url = https://github.com/HighLo-Engine/imgui
